@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

.imagenNoEncontradaContainer{
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
  }
  
  .imagenNoEncontradaContainer h1{ 
    font-size: 3rem;
    font-family: 'VT323', monospace;
  }
  
  .imagenNoEncontradaContainer img{
    margin-top: 5rem;
    width: 50%;
  }