.layoutBuscador{
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(222deg, rgba(126,34,195,1) 0%, rgba(213,157,37,1) 100%);
  }
  
  .inputGroupContainer{
    width: 60%;
  }
  
  .btnBuscar{
    background: linear-gradient(222deg, rgba(126,34,195,1) 0%, rgba(213,157,37,1) 100%);
    color: white;
    transition: .3s;
    overflow: hidden;
  }
  
  .sheen:after{
    content: '';
    position: absolute;
    top: -50%;
    right: -50%;
    bottom: -50%;
    left: -50%;
    background: linear-gradient(to bottom, rgba(229, 172, 142, 0), rgba(255,255,255,0.5) 50%, rgba(229, 172, 142, 0));
    transform: rotateZ(60deg) translate(-5em, 7.5em);
  }
  
  .sheen:hover::after {
    animation: sheen 1s forwards;
  }
  
  @keyframes sheen {
    100% {
      transform: rotateZ(60deg) translate(1em, -9em);
    }
  }
  
  .sheen:active{
    box-shadow:0px 0px 0px white;
    -webkit-box-shadow: inset -2px 2px 2px #ccc;
    -moz-box-shadow:    inset -2px 2px 2px #ccc;
    box-shadow:         inset -2px 2px 2px #ccc;
    transform:translate(0, 2px);
    color:#FFC491;
    background-color:#EDE358;
  }
  
  .sheen:focus{
    outline:0;
  }
  
  .btnBuscar:disabled{
    background: linear-gradient(222deg, rgba(126,34,195,1) 0%, rgba(213,157,37,1) 100%);
    color: white;
    opacity: 0.7;
  }