.contMarginOn{
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  
  .colNoPadding{
    padding-left: 0;
    padding-right: 0;
  }
  
  .gridColumnaUpdate {
    margin-right: -0.5rem;
    margin-left: -0.5rem;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
  }
  
  .gridColumnaUpdate img{
    aspect-ratio: 1;
    object-fit: cover;
  }
  
  .sombraCard:hover{
    box-shadow: 0.2rem 0.3rem 1rem rgba(126,34,195,1), -0.2rem -0.3rem 1rem rgba(213,157,37,1);
    transform: scale(1.01);
    transition: all .3s;
    border: none;
  }
  
  .cardLocalizacion{
    margin-bottom: 1rem;
  }
  
  .etiquetasRelCont{
    display: flex;
    flex-wrap: wrap;
    margin-top: 1rem;
  }
  
  .contEti{
    margin-bottom: 0.5rem;
    margin-right: 0.5rem;
    border-radius: 2rem;
  }
  
  .relTag{
    color: orangered;
    text-decoration: none;
    transition: 0.3s;
  }
  
  .relTag:hover{
    color:rgb(238, 142, 107);
  }
  
  .css-button-gradient--7 {
    min-width: 80px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: absolute;
    top: 1rem;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    border: none;
    background-size: 120% auto;
    background-image: linear-gradient(315deg, #c02425 0%, #f0cb35 75%);
  }
  .css-button-gradient--7:hover {
    background-position: right center;
  }
  .css-button-gradient--7:active {
    top: 1.2rem;
  }