.searchbar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.search-input {
    height: 1.9rem;
    width: 400px;
}

.btn {
    background-color: #5e6cec;
    border: 1px solid #5e6cec;
    margin-left: 5px;
    padding: 2px 5px;
}